<!DOCTYPE html>
<html>
<head>
  <title>Spamless</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Corben:700|Nobile' rel='stylesheet' type='text/css'>
</head>
<body>
  <!-- <div class="login-logout">
    <% if user_signed_in? %>
      <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
    <% else %>
      <a href="<%= new_user_session_url %>">Login</a>
    <% end %>
  </div> -->

<%= yield %>

</body>
</html>
