<!DOCTYPE html>
<html>
<head>
  <title>Spamless</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag '/favicon.ico' %>
  <link href='https://fonts.googleapis.com/css?family=Corben:400,700|Source+Sans+Pro:400,600' rel='stylesheet' type='text/css'>
  <script src="//fast.eager.io/dGKmC_hWKA.js"></script>
</head>
<body>

<%= yield %>

</body>
</html>
